{% extends 'enews/base.html' %}
{% load static %}

{% block content %}

<div class="form-container">
    <h2>Create Article</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Title -->
        <div class="form-group">
            <label>Article Heading</label>
            <input type="text" name="title" placeholder="Enter article title" required>
        </div>

        <!-- Image Upload -->
        <div class="form-group">
            <label>Upload Image</label>
            <input type="file" name="image" id="imageInput">
          
        </div>
  <p id="imageError" style="color:red; display:none;">ugfliuflif</p>
        <!-- Description -->
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" rows="6" placeholder="Write your article..." required></textarea>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn-submit">Publish Article</button>
    </form>
    {% if message %}
        <p style="color:#b00020; margin-bottom:14px;">{{ message }}</p>
        {% endif %}
</div>
<script>
document.getElementById("imageInput").addEventListener("change", function () {
    const file = this.files[0];
    const error = document.getElementById("imageError");

    if (!file) return;

    const allowedTypes = ["image/png", "image/jpeg", "image/jpg"];
    const maxSize = 5 * 1024 * 1024; // 5MB

    // Reset error
    error.style.display = "none";
    error.innerText = "";

    // Validate type
    if (!allowedTypes.includes(file.type)) {
        error.innerText = "Only PNG and JPG images are allowed.";
        error.style.display = "block";
        this.value = ""; // clear input
        return;
    }

    // Validate size
    if (file.size > maxSize) {
        error.innerText = "Image size must not exceed 5MB.";
        error.style.display = "block";
        this.value = ""; // clear input
        return;
    }
});
</script>
{% endblock %}