<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>

<div class="container">

    {% include 'sidebar.html' %}

    <div class="main-content">
        {% include 'navbar.html' %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

</body>
</html>